/* Loading */

.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff;
}

/* CSS declarations go here */

.form input, .form select {
    margin: 15px 0;
}

.transaction {
    width: 80%;
    margin: 0 auto;
}

.details {
  width: 80%;
  margin: 0 auto;
}

.details > h1 {
  font-size: 18pt;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table.expenses {
  width: 100%;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

table.expenses > thead > tr > th {
  vertical-align: top;
  font-size: 93%;
  padding: 4px 7px 4px 3px;
  line-height: 1.4;
  text-transform: uppercase;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

table.expenses > tbody > tr > td > a {
  text-decoration: none;
  color: #468;
}

table.expenses > tbody > tr > td > a:hover {
  text-decoration: none;
  color: #68A;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.even {
  background-color: #e5e5e5;
}

.odd {
  background-color: #f5f5f5;
}

.hoverable:hover {
  background-color: #CAE3F2;
}

.expense-details > h3 {
  font-size: 14pt;
}

.expense-details > h4 {
  font-size: 12pt;
  font-weight: 400;
  color: #468;
}

.days {
  width: 80%;
  margin: 0 auto; 
}

.navigation {
  text-decoration: none;
  color: #024;
  font-size: 10pt;
  margin: 12px 0px;
}

.navigation:hover {
  color: #468;
}

.positive {
  background: #d5f5d5;
}

.negative {
  background: #f5d5d5;
}

.container {
    width: 100%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
